<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Statement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        function max_date() {
            document.getElementById('end_date').max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
            document.getElementById('start_date').max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
        }

        function mycheck1() {
            var checkBox1 = document.getElementById('check1')
            var checkBox2 = document.getElementById('check2')
            var myForm1 = document.getElementById('disp1')
            var myForm2 = document.getElementById('disp2')
            if (checkBox1.checked == true){
                myForm1.style.display = "block";
            } else {
                myForm1.style.display = "none";
            }
            if (checkBox2.checked == true){
                myForm2.style.display = "block";
            } else {
                myForm2.style.display = "none";
            }
        }
    </script>
    <style>
        #disp1 {
            display:none;
        }
        #disp2 {
            display:none;
        }
    </style>
</head>
<body>
    {% extends "cas_layout.html" %}
    {% block content %}
        <div class="container">
            <h2>Account Statement</h2>
            <form action="{{ url_for('display_statement') }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg w-50" name="account_id" pattern="\d{9}" title="Account ID must be of 9 digits" placeholder="Account ID" required>
                </div>


                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="radio_options" id="check1" value="last" onclick="mycheck1();" required>
                  <label class="form-check-label" for="inlineRadio1">Last n Transactions</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="radio_options" id="check2" value="date_wise" onclick="mycheck1();">
                  <label class="form-check-label" for="inlineRadio2">Transactions Between Dates</label>
                </div>

                <div class="form-group" id="disp1" style="margin-top:10px;">
                    <select class="form-control form-control-lg w-25" name="num_transactions">
                        <option value="" disabled selected>Number of Transactions</option>
                        {% for i in range(1,11) %}
                        <option value="{{ i }}">
                            {{ i }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group" id="disp2" style="margin-top:10px;">
                    <div class="form-group">
                     <label>Start Date</label>
                     <input type="date" name="start_date" min="2000-01-01" id="start_date" class="form-control w-50" onclick="max_date();">
                    </div>
                    <div class="form-group">
                     <label>End Date</label>
                     <input type="date" name="end_date" min="2000-01-01" id="end_date" class="form-control w-50" onclick="max_date();">
                    </div>
                </div>
                </br>
                <button type="submit" class="btn btn-dark" style="margin-top:10px;">Submit</button>
            </form>
        </div>
    {% endblock %}
</body>
</html>