<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body style="background-image: linear-gradient(to right,#74ebd5 , #acb6e5);">
{% extends "cus_layout.html" %}
{% block content%}
<div class="form_div">
    <h2 class="text-center" style="margin-bottom:5%;">Customer Creation</h2>
    <form method="post" action="{{ url_for('create_customer') }}" name="cc">

        {% if msg %}
            <div class="alert alert-danger w-50" role="alert" style="margin: auto; margin-bottom:3%;">
                {{ msg }}
            </div>
        {% endif %}

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="margin-left:8%; margin-bottom:3%">Customer SSN : </label>
        <div class="col-sm-5">
            <input type="text" placeholder="Customer SSN" class="form-control" name="InputSSN" pattern="\d{9}" title="Please enter the nine digit Customer SSN" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="margin-left:8%; margin-bottom:3%">Name : </label>
        <div class="col-sm-5">
            <input type="text" placeholder="Customer Name" class="form-control" name="InputName" pattern="[a-zA-Z\s]*" title="Please enter alphabetical name without special characters!" required >
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="margin-left:8%; margin-bottom:3%">Age : </label>
        <div class="col-sm-5">
            <input type="number" placeholder="Customer Age" class="form-control" name="InputAge" min="18" max="120" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="margin-left:8%; margin-bottom:3%">Address Line 1 : </label>
        <div class="col-sm-5">
            <input type="text" placeholder="Customer Address Line 1" class="form-control" name="InputAddress1" pattern="[a-zA-Z0-9\s,]*" title="Please enter alphanumeric address without special characters!" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="margin-left:8%; margin-bottom:3%">Address Line 2 : </label>
        <div class="col-sm-5">
            <input type="text" placeholder="Customer Address Line 2" class="form-control" name="InputAddress2" pattern="[a-zA-Z0-9\s,]*" title="Please enter alphanumeric address without special characters!" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="margin-left:8%; margin-bottom:3%">City : </label>
        <div class="col-sm-5">
            <input type="text" placeholder="City" class="form-control" name="InputCity" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="margin-left:8%; margin-bottom:3%">State : </label>
        <div class="col-sm-5">
            <input type="text" placeholder="State" class="form-control" name="InputState" required>
        </div>
    </div>

    <div class="form-group text-center">
        <label for="Submit"></label>
        <input type="submit" class="btn btn-dark" id="Submit" />
    </div>

</form>
</div>
{% endblock %}
</body>
</html>

