<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Status</title>
</head>
<body style="background-image: linear-gradient(to right,#74ebd5 , #acb6e5);">
    {% extends "cus_layout.html" %}
        {% block content%}
            <div class="table_div">
                <h2 class="text-center" style="margin:1% 0 3% 0;">Customer status</h2>
                <div class="table-responsive" style="margin-top:30px;">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Customer ID</th>
                                <th class="text-center">Customer SSN</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Message</th>
                                <th class="text-center">Last Updated</th>
                                <th class="text-center">Refresh</th>
                            </tr>
                        </thead>
                        {% for value in values %}
                        <tr>
                            <td class="text-center">{{ value['customer_id'] }}</td>
                            <td class="text-center">{{ value['customer_ssn'] }}</td>
                            <td class="text-center">{{ 'Active' if value['status'] else 'Inactive' }}</td>
                            <td class="text-center">{{ value['message'] }}</td>
                            <td class="text-center">{{ value['last_updated'] }}</td>
                            <td class="text-center">
                                <form method="post" action="{{ url_for('customer_status') }}">
                                    <input type="image" value="submit" src="{{ url_for('static', filename='images/refresh.png') }}"/>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endblock %}

</body>
</html>