<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
		<title>Customer Delete</title>
    </head>
    <body style="background-image: linear-gradient(to right,#74ebd5 , #acb6e5);">
        {% extends "cus_layout.html" %}
        {% block content%}

        <div class="form_div">
                <h2 class="text-center" style="margin-bottom:5%;">Delete Customer</h2>
				{% if msg %}
                    <div class="alert alert-danger w-50" role="alert" style="margin: auto; margin-bottom:3%;">
                        {{ msg }}
                    </div>
                {% endif %}
                <form action="{{ url_for('delete_customer') }}" method="post">
                  <div class="form-group">
                    <h6>Customer Id : </h6><input type="text" class="form-control form-control-lg w-50" name="customer_id" placeholder="  Enter Customer ID " value="{% if details['customer_id']  %} {{details['customer_id']}} {% endif %}" required>
                  </div>
				  <div class="form-group">
				   {% if not checked %}<button type="submit" value="r" name="btn" class="btn btn-primary"> Retrieve Customer Information</button>{%endif%}
				   </div>
                  <div class="form-group">
                    <h6>Customer SSN : </h6><input type="text" class="form-control form-control-lg w-50" name="customer_ssn" placeholder="   Customer SSN " value="{% if details['customer_ssn']  %} {{details['customer_ssn']}} {% endif %}" readonly="readonly" >
                  </div>
				  <div class="form-group">
                    <h6>Name : </h6><input type="text" class="form-control form-control-lg w-50" name="name" placeholder="   Customer Name " value="{% if details['name']  %} {{details['name']}} {% endif %}" readonly="readonly" >
                  </div>
				  <div class="form-group">
                    <h6>Age : </h6><input type="text" class="form-control form-control-lg w-50" name="age" placeholder=" Customer Age" value="{% if details['age']  %} {{details['age']}}    {% endif %}" readonly="readonly"  >
                  </div>
				  <div class="form-group">
                    <h6>Address : </h6><input type="text" class="form-control form-control-lg w-50" name="address" placeholder="    Customer Address" value="{% if details['address']  %} {{details['address']}} {% endif %}" readonly="readonly" >
                  </div>
				  <div class="form-group">
                    <h6>City : </h6><input type="text" class="form-control form-control-lg w-50" name="city" placeholder="Customer City " value="{% if details['city']  %} {{details['city']}}    {% endif %}" readonly="readonly"  >
                  </div>
				  <div class="form-group">
                    <h6>State : </h6><input type="text" class="form-control form-control-lg w-50" name="state" placeholder="   Customer State " value="{% if details['state']  %} {{details['state']}} {% endif %}" readonly="readonly"  >
                  </div>
                  {% if  checked %}<button type="submit" value="d"  name="btn" class="btn btn-primary">Delete Customer Database </button>{% endif %}
				  </form><br>
				  <form action="{{ url_for('delete_customer') }}" method="post">
					<button value="back"  name="btn" class="btn btn-primary">Go Back  </button>
				</form>
					
                

        </div>
        {% endblock %}

    </body>
</html>