<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
		<title>Sign in</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        {% extends "login_layout.html" %}

        {% block content%}
        <div class="row">
            <div class="container">
                <h2>Delete Customer </h2>
                <form action="{{ url_for('deletecustomer') }}" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg w-50" name="customer_id" placeholder="Enter Customer ID" value="" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg w-50" name="customer_ssn" placeholder="Customer SSN" required>
                  </div>
				  <div class="form-group">
                    <input type="text" class="form-control form-control-lg w-50" name="name" placeholder="Customer Name" required>
                  </div>
				  <div class="form-group">
                    <input type="text" class="form-control form-control-lg w-50" name="age" placeholder="Customer Age" required>
                  </div>
				  <div class="form-group">
                    <input type="text" class="form-control form-control-lg w-50" name="address" placeholder="Customer Address" required>
                  </div>
				  <div class="form-group">
                    <input type="text" class="form-control form-control-lg w-50" name="city" placeholder="Customer City" required>
                  </div>
				  <div class="form-group">
                    <input type="text" class="form-control form-control-lg w-50" name="state" placeholder="Customer State" required>
                  </div>
                    {% if msg %}
                        <div class="alert alert-danger w-50" role="alert">
                            {{ msg }}
                        </div>
                    {% endif %}
                  <button type="submit" class="btn btn-primary">{% if checked %} Delete Customer Database {% else %} Retrieve Customer Information {% endif %}</button>
                </form>

            </div>
        </div>
        {% endblock %}

    </body>
</html>