<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Statement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}"/>
</head>
<body>
    {% extends "cas_layout.html" %}
    {% block content %}
        <div class="container">
            <h1>Account Statement</h1>
            {% if transactions %}
                <h2 class="text-center">Account ID - {{ transactions[0]['account_id'] }}</h2>
                <h2 class="text-center">Account Type - {{ transactions[0]['acc_type'] }}</h2>
                <div class="table-responsive" style="margin-top:30px;">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Transaction ID</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Date and Time</th>
                                <th class="text-center">Amount</th>
                            </tr>
                        </thead>
                        {% for value in transactions %}
                        <tr>
                            <td class="text-center">{{ value['transaction_id'] }}</td>
                            <td class="text-center">{{ value['description'] }}</td>
                            <td class="text-center">{{ value['time'] }}</td>
                            <td class="text-center">{{ value['amount'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            
            {% if type==true %} <!--Download buttons for transactions between 2 dates-->
            <div style="text-align:center;margin-top:10px; ">
                <form style="display:inline-block ; margin-bottom: 30px;" action="{{url_for('display_statement')}}" method="POST">
                    <input type="hidden"  type="date"  name="start_date" value="{{ start_date }}">
                    <input type="hidden"  type="date" name="end_date" value="{{ end_date }}">
                    <input type="hidden"  name="accnt_id" value="{{ account_id }}">
                    <button class="btn-dark">Download as PDF</button>
                </form>
                <form style="display:inline-block ;margin-bottom: 30px;" action="{{url_for('display_statement')}}" method="POST">
                    <input type="hidden"  type="date"  name="start_datex" value="{{ start_date }}">
                    <input type="hidden"  type="date" name="end_datex" value="{{ end_date }}">
                    <input type="hidden"  name="accnt_idx" value="{{ account_id }}">
                    <button  class="btn-dark">Download as Excel</button>
                </form>
            </div>
            {% else %} <!--Download buttons for N number of transactions-->
            <div style="text-align:center;margin-top:10px;">
                <form style="display:inline-block ; margin-bottom: 30px;" action="{{url_for('display_statement')}}" method="POST">
                    <input type="hidden"  type="text" name="count" value="{{ count }}">
                    <input type="hidden"  name="a_id" value="{{ account_id }}">
                    <button  class="btn-dark">Download as PDF</button>
                </form>
                <form style="display:inline-block ; margin-bottom: 30px;" action="{{url_for('display_statement')}}" method="POST">
                    <input type="hidden"  type="ctext" name="countx" value="{{ count }}">
                    <input type="hidden"  name="a_idx" value="{{ account_id }}">
                    <button  class="btn-dark">Download as Excel</button>
                </form>
            </div>
            {% endif %}
        </div>
    {% endblock %}
</body>
</html>