<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Statement</title>
</head>
<body style="background-image: linear-gradient(to right, #3d7eaa, #ffe47a);">
    {% extends "cas_layout.html" %}
    {% block content %}
        <div class="table_div">
            <h2 class="text-center" style="margin:1% 0 3% 0;">Account Statement</h2>
            {% if transactions %}
                <h3 class="text-center">Account ID - {{ transactions[0]['account_id'] }}</h3>
                <h3 class="text-center">Account Type - {{ transactions[0]['acc_type'] }}</h3>
                <div class="table-responsive" style="margin-top:30px;">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Transaction ID</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Date and Time</th>
                                <th class="text-center">Amount</th>
                            </tr>
                        </thead>
                        {% for value in transactions %}
                        <tr>
                            <td class="text-center">{{ value['transaction_id'] }}</td>
                            <td class="text-center">{{ value['description'] }}</td>
                            <td class="text-center">{{ value['time'] }}</td>
                            <td class="text-center">{{ value['amount'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            
            {% if type==true %} <!--Download buttons for transactions between 2 dates-->
            <div style="text-align:center;margin-top:10px; ">
                <form style="display:inline-block ; margin-bottom: 30px;" action="{{url_for('display_statement')}}" method="POST">
                    <input type="hidden"  type="date"  name="start_date" value="{{ start_date }}">
                    <input type="hidden"  type="date" name="end_date" value="{{ end_date }}">
                    <input type="hidden"  name="accnt_id" value="{{ account_id }}">
                    <button class="btn btn-dark">Download as PDF</button>
                </form>
                <form style="display:inline-block ;margin-bottom: 30px;" action="{{url_for('display_statement')}}" method="POST">
                    <input type="hidden" name="start_datex" value="{{ start_date }}">
                    <input type="hidden" name="end_datex" value="{{ end_date }}">
                    <input type="hidden"  name="accnt_idx" value="{{ account_id }}">
                    <button class="btn btn-dark">Download as Excel</button>
                </form>
            </div>
            {% else %} <!--Download buttons for N number of transactions-->
            <div style="text-align:center;margin-top:10px;">
                <form style="display:inline-block ; margin-bottom: 30px;" action="{{url_for('display_statement')}}" method="POST">
                    <input type="hidden" name="count" value="{{ count }}">
                    <input type="hidden" name="a_id" value="{{ account_id }}">
                    <button  class="btn btn-dark">Download as PDF</button>
                </form>
                <form style="display:inline-block ; margin-bottom: 30px;" action="{{url_for('display_statement')}}" method="POST">
                    <input type="hidden" name="countx" value="{{ count }}">
                    <input type="hidden"  name="a_idx" value="{{ account_id }}">
                    <button  class="btn btn-dark">Download as Excel</button>
                </form>
            </div>
            {% endif %}
        </div>
    {% endblock %}
</body>
</html>