<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Search</title>
</head>
<body style="background-image:linear-gradient(to right, #3d7eaa, #ffe47a);">
    {% extends "cas_layout.html" %}
    {% block content %}
            <div class="form_div">
                <h2 class="text-center" style="margin:1% 0 3% 0;">Account Search</h2>
                <form action="{{ url_for('display_search_account') }}" method="post">
                  {% if msg %}
                        <div class="alert alert-danger w-50" role="alert" style="margin: auto; margin-bottom:3%;">
                            {{ msg }}
                        </div>
                  {% endif %}

                  <div class="form-group row">
                      <label class="col-sm-4 col-form-label" style="margin-left:8%; margin-bottom:3%">Customer ID : </label>
                      <div class="col-sm-5">
                          <input type="text" class="form-control" name="customer_id" placeholder="Customer ID" pattern="\d{9}" title="Enter a valid 9 digit Customer ID" />
                      </div>
                  </div>
                  <h4 class="text-center" style="margin-bottom:3%;">OR</h4>

                  <div class="form-group row">
                      <label class="col-sm-4 col-form-label" style="margin-left:8%; margin-bottom:3%">Customer SSN : </label>
                      <div class="col-sm-5">
                          <input type="text" class="form-control" name="customer_ssn" placeholder="Customer SSN" pattern="\d{9}" title="Enter a valid 9 digit Customer SSN" />
                      </div>
                  </div>
                  <h4 class="text-center" style="margin-bottom:3%;">OR</h4>

                  <div class="form-group row">
                      <label class="col-sm-4 col-form-label" style="margin-left:8%; margin-bottom:3%">Account ID : </label>
                      <div class="col-sm-5">
                          <input type="text" class="form-control" name="account_id" placeholder="Account ID" pattern="\d{9}" title="Enter a valid 9 digit Account ID" />
                      </div>
                  </div>

                  <div class="form-group text-center">
                      <label for="Submit"></label>
                      <button type="submit" class="btn btn-dark">Search</button>
                  </div>
                </form>
            </div>
    {% endblock %}
</body>
</html>