{% extends "cus_layout.html" %}

{% block content %}

<h2 style="text-align:center ; color :brown ;" ><b>UPDATE QUERY</b></h2>
<div style="align-items: center; text-align: center;">
      <form action="{{url_for('update')}}" method="POST">
      </br></br>
            <label style="text-align: left;"><b>Customer SSIN :</b> {{ details['customer_ssn'] }}</label><br>
            <label style="text-align: left;"><b>CUSTOMER ID</b>   :{{ details['customer_id'] }}</label></br></br>
            
            <input type="hidden" name="ID" value="{{ details['customer_id'] }}">
            
            <label  style="text-align: left;"><b>New Customer Name</b> </label>
            <input type="text" placeholder="{{ details['name']}}" name="new_name" pattern="[a-zA-Z]*+" title="Please enter alphabetical name without special characters and name!" required><br></br>
            
            <label style="margin-right: 60px;"><b>New Address</b></label>
            <input type="text" name=new_address  placeholder="{{details['address']}}" pattern="[a-zA-Z],*+" title="Please enter alphabetical name without special characters and name!" required><br></br>
            
            <label style="margin-right: 90px;"><b>New Age</b></label>
            <input type="number" placeholder="{{details['age']}}" name="new_age" pattern="[0-9]*" title="Please enter alphabetical name without special characters and name!" required><br><br></br>
         
            <button style="background-color: coral;">SUBMIT</button></form>
      </form>
</div>     
{% endblock %}