li {
    display: inline;
    padding: 5px;
}

a {
    text-decoration: none;
    color: green;
}

a:hover { color : red;}

table,th,td{
    border : 2px solid black ;
    text-align: center;
    height:50px;
    margin-left: auto;
    margin-right:auto ;
    margin-top:auto ;
}

#for dropdown menus in nav bar

.error {
    color: red
}

.img_icon {
    margin-left:15px;
}

.login_div {
    background-color:#FFF;
    width:60%;
    height:400px;
    margin: auto;
    padding: 10px;
    margin-top:3%;
    border-radius:10px;
}

.form_div {
    background-color:#FFF;
    width:60%;
    height:650px;
    margin: auto;
    padding: 10px;
    margin-top:3%;
    border-radius:10px;
}

.wrapper {
    text-align:center;
}

.login_text {
}

.login_inp {
    border-radius:10px;
}