li {
    display: inline;
    padding: 5px;
}

a {
    text-decoration: none;
    color: green;
}

a:hover { color : red;}

table,th,td{
    border : 2px solid black ;
    text-align: center;
    height:50px;
    margin-left: auto;
    margin-right:auto ;
    margin-top:auto ;
}

#for dropdown menus in nav bar

.error {
    color: red
}