<header>
	<nav style="color:blue">
		<ul class="nav nav-pills" >
			<li><a style="background:darkgreen" href="{{ url_for('index') }}" class="nav-link active">Home</a></li>
			<li><a style="background:darkgreen" href="{{ url_for('index') }}" class="nav-link active">Customer Management</a></li>
			<li><a style="background:darkgreen" href="{{ url_for('index') }}" class="nav-link active">Account Management</a></li>
			<li><a style="background:darkgreen" href="{{ url_for('index') }}" class="nav-link active ">Status Details</a></li>
			<li><a style="background:darkgreen" href="{{ url_for('index') }}" class="nav-link active ">Account Operations</a></li>
			<li><a style="background:darkgreen" href="{{ url_for('index') }}" class="nav-link active">Logout</a></li>
		</ul>
	</nav>
	<hr style="clear:both">
</header>