
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">
</head>


<header>
	<nav style="color:blue">
		<ul class="nav nav-pills" >
				
			<li><a class="dropbtn" style="background:darkgreen" href="{{ url_for('home') }}" class="nav-link active">Home</a></li>
			
			<div class="dropdown">
			<li><a class="dropbtn" style="background:darkgreen" href="{{ url_for('login') }}" class="nav-link active">Customer Management</a></li>
				<div class="dropdown-content">
					<a href= "{{ url_for('login') }}"><h3>Create New Customer</h3	></a>
					<a href= "{{ url_for('login') }}"><h3>Edit Customer</h3></a>
					<a href= "{{ url_for('login') }}"><h3>Delete Customer</h3></a>
					<a href= "{{ url_for('customer_status') }}"><h3>View Customer Status</h3></a>
				</div>
			</div>			
			
			<div class="dropdown">
			<li><a class="dropbtn" style="background:darkgreen" href="{{ url_for('login') }}" class="nav-link active">Account Management</a></li>
				<div class="dropdown-content">
					<a href= "{{ url_for('login') }}"><h3>Create New Account</h3></a>
					<a href= "{{ url_for('login') }}"><h3>Delete Account</h3></a>
				</div>
			</div>
			
			<div class="dropdown">
			<li><a class="dropbtn" style="background:darkgreen" href="{{ url_for('login') }}" class="nav-link active ">Status Details</a></li>
				<div class="dropdown-content">
					<a href= "{{ url_for('login') }}"><h3>Customer Status</h3></a>
					<a href= "{{ url_for('login') }}"><h3>Account Status</h3></a>
				</div>
			</div>
			
		
			{% if session['username'] %}
			
			
			<li><a style="background:darkgreen" href="{{ url_for('logout') }}" class="nav-link active">Logout</a></li>
			
			
			{% endif %}

		</ul>
	</nav>
	<hr style="clear:both">
</header>